.content-block-2x1-alt {
    width: 40%;
    margin: 0 auto;
    /*background-color: #2ecc71;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1em;
    color: #EFD9CE;
}

.content-section-2x1-alt {
    width: 100%;
    height:45vh;
    display: flex;
    gap: 5%;
    margin-bottom: 80px;
}

.git-forge-scaled {
    width: 20vw;
    height: 10vh;
    scale: 0.35;
}

.light-blue-border{
    border-radius: 0.8em;
    position: relative;
    box-shadow: 0px 0px 35px 0px #8FA1FF;
    padding: 0.5em; 
    margin-bottom: 2em;
}

.banner-bottom-gradient {
    position: absolute;
    padding: 3%;
    padding-top: 8%;
    top: 80%;
    width: 100%;
    height: 20%;
    background: linear-gradient(0deg,rgba(17, 3, 16, 1) 0%, rgba(237, 83, 83, 0) 100%);
}
.banner-info-text {
    position: absolute;
    margin: auto;
    width: 100%;
}

.projectHighlightInfoBox {
    border-radius: 2.28em;
    corner-shape: square square bevel bevel;
    position: absolute;
    padding: 3%;
    padding-top: 8%;
    top: 50%;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg,rgba(17, 3, 16, 1) 0%, rgba(17, 3, 16, 0.59) 81%, rgba(237, 83, 83, 0) 95%);
}

.projectContainer {
    color: #EFD9CE;
    display: flex;
    flex: 10;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 6em;
    margin-top: 2em;
}

.projectImg {
    border-radius: 2.3em;
    corner-shape: bevel;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectPanel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 2.3em;
    flex: 0.5;
    margin: 0.36em;
    position: relative;
    transition: flex 0.7s ease-in;
    -webkit-transition: all 500ms ease-out;
}

.projectPanel h2 {
     opacity: 0;
     transition: opacity 150ms ease-in;
     text-align:center;
     justify-content:center;
     position:center;
}

.projectPanel h1{
    opacity: 0;
    transition: opacity 150ms ease-in;
    text-align:center;
    justify-content:center;
}

.projectPanel p {
    opacity: 0;
    transition: opacity 150ms ease-in;
}


/*PC and anything with a mouse*/
@media (hover: hover) {
    .projectPanel:hover {
        flex: 2.5;
    }

    .projectPanel:hover h1 {
        opacity: 1;
        transition: opacity 200ms ease-in 0.3s;
    }

    .projectPanel:hover h2 {
        opacity: 1;
        transition: opacity 400ms ease-in 0.4s;
        text-align:center;
        justify-content:center;
        position:center;
    }   

    .projectPanel:hover p {
        opacity: 1;
        transition: opacity 100ms ease-in 0.25s;
    }
}

/*Devices without a mouse (Phone | Mobile)*/
@media (hover: none) {
    .projectPanel.active {
        flex: 2.5;
    }

    .projectPanel.active h1 {
        opacity: 1;
        transition: opacity 200ms ease-in 0.3s;
    }

    .projectPanel.active h2 {
        opacity: 1;
        transition: opacity 400ms ease-in 0.4s;
        text-align: center;
        justify-content: center;
        position: center;
    }

    .projectPanel.active p {
        opacity: 1;
        transition: opacity 100ms ease-in 0.25s;
    }
}